.tours-season {
    margin: 0 0 80px 0;
}

.tours-season__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #242424;
}

.tours-season__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.tours-season__item {
    border-radius: 24px;
}

.tours-season__item--danang {
    background-color: #E0E5FA;
}

.tours-season__item--varadero {
    background-color: #D2E8E5;

}

.tours-season__item--bali {
    background-color: #E0EFFA;
    display: grid;
    grid-row: span 2;
}

.tours-season__item--flat-review {
    background: linear-gradient(87.12deg, #5839B0 1.65%, #4162B8 100%);
    display: grid;
    grid-column: span 2;
}

.tours-season__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.tour-season__img {
    border-radius: 50%;
    border: 4px solid #9E5FC4;
}

.tours-season__city-title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.02em;
    font-weight: 700;
    margin: 0;
    text-align: center;
    color: #9E5FC4;
}

.tours-season__country {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    font-weight: 400;
}

.tours-season__text {
    margin: 0;
    text-align: center;
    width: 320px;
}

.tours-season__btn {
    border-radius: 60px;
    background-color: #9E5FC4;
    padding: 14px;
    width: 154px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.tour-season__wrapper-review {
    padding: 30px;
}

.tour-season__inner-text {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.tour-season__inner-review {
    display: flex;
    gap: 15px;
}

.tour-season__text-review {
    margin: 0;
    color: #ffffff;
    width: 520px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    font-weight: 400;
}

.tour-season__img-review {
    border-radius: 50%;
}

.tour-season__info-review {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}
